services:
  - type: web
    name: shelfserve-api
    runtime: node
    plan: free
    buildCommand: npm ci && npm run build
    startCommand: node index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: NODE_OPTIONS
        value: "--experimental-detect-module"
      - key: DATABASE_URL
        fromDatabase:
          name: postgres
          property: connectionString
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRES_IN
        value: 7d

databases:
  - name: postgres
    plan: free
