services:
  - type: web
    name: final-project-api
    env: node
    plan: free
    buildCommand: npm install && npx prisma generate
    startCommand: cd src && node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: postgres
          property: connectionString
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRES_IN
        value: 7d

databases:
  - name: postgres
    plan: free
